@{
    ViewBag.Title = "Home";
}



<div class="row">
    <div class="col l12 m12 s12">
        <ul class="collapsible">
            <li>
                <div class="collapsible-header"><i class="material-icons left">search</i><strong>Health Facility Complaints</strong></div>
                <div class="collapsible-body">
                    @Html.Partial("Filters")
                </div>
            </li>
        </ul>
        <div class="card white darken-1">
            <div class="card-content">
                <table id="complaint" class="responsive-table highlight myTable table hover">
                    <tr>
                        <th>Date Received</th>
                        <th>Code Number</th>
                        <th>Name of Health Facility Being Complained</th>
                        <th>Address</th>
                        <th>Ownership</th>
                        <th>Name of Complainant</th>
                        <th>Types of Complaint</th>
                        <th>Action Taken</th>
                        <th>Date Informed the HF/concerned office</th>
                        <th>Date HF/concerned office submitted reply</th>
                        <th>Date released to records section</th>
                        <th>Date Resolution of the complaint released to records/client</th>
                        <th>Form of Communication received</th>
                        <th>Status</th>
                        <th>Staff Assigned</th>
                        <th>Options</th>
                    </tr>
                    <tr>
                        <td>2019/7/5</td>
                        <td>EXP-CODE-01</td>
                        <td>UC MED</td>
                        <td><strong>Mandaue City</strong></td>
                        <td>Private</td>
                        <td>Lourence Rex B. Traya</td>
                        <td>
                            -Discharge of patient from hospital
                            <br />-Release of cadaver
                        </td>
                        <td>
                            <strong>(2019/3/2)</strong> - Write letter to legal
                            <br /><strong>(2019/3/4)</strong> - Write letter to the Mayor Office
                        </td>
                        <td>
                            - 2019/3/2
                            <br />- 2019/3/1
                        </td>
                        <td>
                            - 2019/3/2
                            <br />- 2019/3/1
                        </td>
                        <td>
                            - 2019/3/2
                            <br />- 2019/3/1
                        </td>
                        <td>
                            - 2019/3/2
                            <br />- 2019/3/1
                        </td>
                        <td>By Social Media</td>
                        <td><strong>On Going</strong></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>2019/7/5</td>
                        <td>EXP-CODE-02</td>
                        <td>Chung Hua</td>
                        <td><strong>Fuente Osmena</strong></td>
                        <td>Private</td>
                        <td>N/A</td>
                        <td>
                            -Discharge of patient from hospital
                            <br />-Release of cadaver
                        </td>
                        <td>
                            <strong>(2019/3/2)</strong> - Write letter to legal
                            <br /><strong>(2019/3/4)</strong> - Write letter to the Mayor Office
                        </td>
                        <td>
                            - 2019/3/2
                            <br />- 2019/3/1
                        </td>
                        <td>
                            - 2019/3/2
                            <br />- 2019/3/1
                        </td>
                        <td>
                            - 2019/3/2
                            <br />- 2019/3/1
                        </td>
                        <td>
                            - 2019/3/2
                            <br />- 2019/3/1
                        </td>
                        <td>By Social Media</td>
                        <td><strong>On Going</strong></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="fixed-action-btn">
    <a href="@Url.Action("CreateComplaint","Complaint")" class="btn-floating btn-large red">
        <i class="large material-icons">add_circle</i>
    </a>
    <ul>
        <li><a class="btn-floating blue" href="@Url.Action("Filter","Complaint")"><i class="material-icons">poll</i></a></li>
        <li><a class="btn-floating red modal-trigger" href="#search"><i class="material-icons">search</i></a></li>
    </ul>
</div>

@section scripts{
    <script>
        let options = {
            numberPerPage: 20, //Cantidad de datos por pagina
            goBar: false, //Barra donde puedes digitar el numero de la pagina al que quiere ir
            pageCounter: false, //Contador de paginas, en cual estas, de cuantas paginas
        };

        let filterOptions = {
        };

        paginate.init('.myTable', options, filterOptions);
    </script>    
}