
<h5>Add new user</h5>
<form action="@Url.Action("CreateUser","SysAccount")" method="post">
    <div class="row">
        <div class="row input-field col 12 m12 s12">
            <input type="text" name="username" required />
            <label for="codeNumber">Username</label>
        </div>
        <div class="row input-field col 12 m12 s12">
            <input type="password" name="password" required />
            <label for="codeNumber">Password</label>
        </div>
        <div class="row input-field col 12 m12 s12">
            <select name="role" class="browser-default" required>
                <option value="" selected>-- Select User role --</option>
                @foreach (var role in Model)
                {
                    <option value="@role.Name">@role.Name</option>
                }
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn-large waves-effect waves-light green">Submit</button>
    </div>
</form>



