
@{
    ViewBag.Title = "User Accounts";
}

<div class="row">
    <div class="col l12 m12 s12">
        <h4>User Accounts</h4>
        <div class="card white darken-1">
            <div class="card-content">
                
            </div>
        </div>
    </div>
</div>

<div class="fixed-action-btn">
    <a href="@Url.Action("CreateComplaint","Complaint")" class="btn-floating btn-large red">
        <i class="large material-icons">add_circle</i>
    </a>
</div>


