
<div id="test2" class="col s12">
    <table id="type_complaint" class="responsive-table">
        <tr>
            <th>Facility Description</th>
            <th>*</th>
        </tr>
            @foreach (facility_type ft in Model)
            {
                <tr>
                    <td>@ft.Name</td>
                    <td>
                        <a href="@Url.Action("DeleteHospital","MasterData",new { ID = ft.ID })" class="btn red"><i class="material-icons">delete</i></a>
                        <a class="btn red"><i class="material-icons">edit</i></a>
                    </td>
                </tr>
            }
   </table>
</div>
