
<form action="@Url.Action("AddHealthFacility","MasterData")" method="POST">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col l12 m12 s12 input-field">
            <input type="text" name="name" required autocomplete="off" autofocus="true" />
            <label for="description">Hospital Name</label>
        </div>
        <div class="input-field col l12 s12 m12">
            <input type="text" name="address" required autocomplete="off" autofocus="true" />
            <label for="description">Hospital Address</label>
        </div>
        <div class="input-field col l12 s12 m12">
            <select name="facilityType" class="browser-default js-example-basic-single" style="width:100%;" required>
                <option value="" disabled selected>Select option</option>
                @foreach (facility_type ft in Model)
                {
                    <option value="@ft.Name">@ft.Name</option>
                }
            </select>
        </div>
        <input type="hidden" name="facilityID" />
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn-large waves-effect waves-light green">Submit</button>
    </div>
</form>

<script>
    $('.js-example-basic-single').select2({
        placeholder: 'Select an option'
    });
</script>