<div class="col l12 m12 s12">
    <form action="@Url.Action("AddAction","Complaint")" method="POST">
        @Html.AntiForgeryToken()
        <div class="card white darken-1">
            <div class="card-content">
                <div class="row">
                    <div class="col l12 m12 s12 input-field">
                        <input type="text" name="actions" required autocomplete="off" autofocus="true" />
                        <label for="description">Action Taken</label>
                    </div>
                    <div class="row">
                        <div class="col l12 m12 s12">
                            <button type="submit" name="submit" class="waves-effect waves-light btn-large green">Submit</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col l12 m12 s12">
                            <p>Remove Item</p>
                            <table>
                                @foreach (actions_takened at in Model)
                                {
                                    <tr>
                                        <td><a href="#" data-url="@Url.Action("DeleteAction","Complaint", new { ID = at.ID })" onclick="remove(this);">@at.actions <i class="material-icons left">delete</i></a></td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    function remove(el)
    {
        var url = $(el).data('url');
        $(el).parent().remove();
        $.get(url, function () {
        });
    }
</script>