
@{
    ViewBag.Title = "Home";
}


<div class="row">
    <div class="col l12 m12 s12">
        <h5>List of hospitals / facility complaints</h5>
        <div class="card white darken-1">
            <div class="card-content">
                <table id="type_complaint" class="responsive-table">
                    <tr>
                        <th>ID</th>
                        <th>Description</th>
                        <th>*</th>

                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>


<div class="fixed-action-btn">
    <a href="@Url.Action("Index","Complaint")" class="btn-floating btn-large red">
        <i class="large material-icons">add_circle</i>
    </a>
</div>


