
<div class="col l12 s12 m12">
    <h5 class="center-align">Change Status</h5>
    <form action="@Url.Action("Status","Complaint")" method="post">
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="input-field col l12 m12 s12">
                <p>
                    <label for="O">
                        <input name="status" type="radio" value="O" id="O" @(Model.status == "O" ? " checked" : "") />
                        <span>On Progress</span>
                    </label>
                </p>
                <p>
                    <label for="R">
                        <input name="status" type="radio" id="R" value="R" @(Model.status == "R" ? " checked" : "") />
                        <span>Resolved</span>
                    </label>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col l12 m12 s12">
                <button type="submit" name="submit" class="waves-effect waves-light btn-large green"><i class="material-icons right">search</i>GO !</button>
            </div>
        </div>
    </form>
</div>
