
@{
    ViewBag.Title = "Hospitals";
}


<div class="container">
    <div class="row">
        <div class="col l12 m12 s12">
            <h5>Health Facilities</h5>
            <div class="card white darken-1">
                <div class="card-content">
                    <table id="type_complaint" class="responsive-table">
                        <tr>
                            <th>Hospital Name</th>
                            <th>Address</th>
                            <th>*</th>

                        </tr>
                        @foreach (hospitals hospital in Model)
                        {
                            <tr>
                                <td>@hospital.name</td>
                                <td>@hospital.address</td>
                                <td>
                                    <a href="@Url.Action("DeleteHospital","MasterData",new { ID = hospital.ID })" class="btn red"><i class="material-icons">delete</i></a>
                                    <a class="btn red"><i class="material-icons">edit</i></a>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large red add modal-trigger" data-target="add_hospital">
        <i class="large material-icons">add_circle</i>
    </a>
</div>


